<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @user.posts.each do |post|%>
    <tr>
      <p><strong>Post</strong></p>
      <td><%= post.content %></td>
      <p><%= post.created_at %></p>
    </tr>
<% end %>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Post', posts_path %>
  <%= link_to 'Back', users_path %>

